.checkout {
    height: 100%;
    width: 100%;
    .step__row {
        width: 87%;
        height: 35px;
        margin: 0 auto;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        position: relative;
        .step__col {
            width: 33%;
            font-size: .9rem;
            text-align: center;
            color: #f1f1f1;
            position: relative;
            font-family: 'Helvetica', sans-serif;
        }
    }
    #progress {
        position: absolute;
        height: 100%;
        width: 33%;
        background-color: #1c1c1c;
        border-radius: 3px;
        color: white !important;
        transition: .5s ease-in-out;
    }
    .checkout__container {
        display: grid;
        place-items: flex-start;
        justify-content: center;
        grid-template-columns: 1fr;
        width: 97%;
        padding-bottom: 2rem;
        border-radius: 3px;
        margin: 1rem auto;
        .checkout__form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-row-start: 1;
            grid-column-start: 1;
            margin: 0 auto;
            transition: 0.3s ease-in-out;
            opacity: 0;
            z-index: -1;
            .checkout__header {
                width: 90%;
                margin: .5rem auto;
                h3 {
                    font-size: 2.5rem;
                    font-weight: 500;
                    font-family: 'Helvetica Neue', 'Roboto Condensed';
                }
                p {
                    margin-top: .75rem;
                    font-size: 1rem;
                }
            }
            .basket__divider {
                margin: 1.5rem auto 2rem auto;
                width: 90%;
                height: 2px;
                background-color: grey;
                opacity: .8;
                &:nth-child(4) {
                    width: 100%;
                }
            }
            .form__inputs {
                margin: 0 1.5rem;
                label {
                    font-size: .8rem;
                }
                input {
                    padding: .5rem .5rem;
                    margin-bottom: .5rem;
                    display: flex;
                    width: 100%;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    font-size: .9rem;
                    
                    &::placeholder {
                        font-size: .9rem;
                    }
                }
            }
            .btns {
                margin-top: 2.5rem;
                margin-right: 1.5rem;
                margin-bottom: 1rem;
                display: flex;
                justify-content: right;
                button {
                    outline: none;
                    border-radius: 3px;
                    font-family: 'Helvetica', sans-serif;
                    border: none;
                    background-color: #0c0c0c;
                    color: #f1f1f1;
                    font-size: 1rem;
                    padding: .6rem 1.5rem;
                    border: 1.5px solid #0c0c0c;
                    transition: 200ms ease-in;
                    &:hover {
                        background-color: #424242;
                        cursor: pointer;
                    }
                }
            }
        }
        .checkout__form:nth-child(2) {
            .items__container {
                margin: 0 auto;
                width: 90%;
            }
            .btns {
                .button {
                    position: relative;
                    padding: 8px 16px;
                    border: none;
                    outline: none;
                    border-radius: 2px;
                    cursor: pointer;
                    background-color: black;
                    .button__text {
                        transition: all 0.2s;
                        color: white;
                    }
                    &:active,
                    &:hover {
                        background-color: #2c2c2c;
                    }
                }
                .button--loading
                .button__text {
                    visibility: hidden;
                    opacity: 0;
                }
                .button--loading::after {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    border: 4px solid transparent;
                    border-top-color: #ffffff;
                    border-radius: 50%;
                    animation: button-loading-spinner 1s ease infinite;
                }
            }
        }
        .form__section {
            display: flex;
            z-index: 1;
        }
    }
}



@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1312px) {
    .checkout__body {
        .checkout__container {
            background: none;
            display: flex;
            flex-direction: column;
            margin: 3% auto;
            width: 800px;
            height: 1000px;
            border-radius: 5px;
            position: relative;
            form:nth-child(1) {
                display: flex;
                flex-direction: column;
                align-items: center;
                left: 20%;
                top: 10%;
                height: 600px;
                width: 500px;
                position: absolute;
                outline: 5px solid black;
                transition: 0.5s ease-in-out;
                margin: 0 auto;
                z-index: 1;
            }
            form:nth-child(2) {
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                outline: 5px solid black;
                top: 10%;
                width: 600px;
                z-index: 2;
                left: 2000px;
                position: absolute;
                transition: 0.5s ease-in-out;
            }
            form:nth-child(3) {
                display: flex;
                flex-direction: column;
                align-items: center;
                outline: 5px solid black;
                left: 2000px;
                width: 600px;
                top: 10%;
                position: absolute;
                transition: 0.5s ease-in-out;
                .button {
                    position: relative;
                    padding: 8px 16px;
                    border: none;
                    outline: none;
                    border-radius: 2px;
                    cursor: pointer;
                    background-color: black;
                    a {
                        text-decoration: none;
                        color: white;
                        .button__text {
                            transition: all 0.2s;
                        }
                    }
                    &:active,
                    &:hover {
                        background-color: #2c2c2c;
                    }
                }
                .button--loading
                .button__text {
                    visibility: hidden;
                    opacity: 0;
                }
                .button--loading::after {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background: white;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            .step__row {
                width: 360px;
                height: 40px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                position: relative;
                box-shadow: 0 -1px 5px -1px #000;
                .step__col {
                    width: 33%;
                    text-align: center;
                    color: #333;
                    position: relative;
                }
            }
            #progress {
                position: absolute;
                height: 100%;
                width: 120px;
                background-color: #000;
                color: white !important;
                transition: .5s ease-in-out;
            }
        }
    }
    
}