
.product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .product__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        margin-top: 1rem;
        width: 90%;
        .image__container {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #f1f1f1;
            .item__image {
                display: flex;
                margin: 0 auto;
                width: 100%;
                height: 100%;
            }
            .item__gallery {
                margin-top: .5rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 3%;
                img {
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
        .item__details {
            margin-top: 2rem;
            .item__cat {
                font-size: .8rem;
            }
            .item__name {
                margin-top: .5rem;
                text-transform: capitalize;
                font-size: 3rem;
                font-family: 'Helvetica Neue', sans-serif;
            }
            .item__price {
                margin-top: .5rem;
                font-size: 1.5rem;
                color: grey;
                font-weight: 600;
            }
            .item__specs {
                margin-top: 1rem;
                .item__size {
                    padding: .3rem .6rem;
                    font-size: .95rem;
                }
                input {
                    width: 2.5rem;
                    padding: .15rem .25rem;
                    margin-left: 1rem;
                    font-size: 1rem;
                }
            }
            .add__button {
                margin-top: 2rem;
                width: 100%;
                outline: none;
                border: none;
                background-color: #0c0c0c;
                color: white;
                font-size: 1rem;
                text-align: center;
                font-family: 'Helvetica', sans-serif;
                padding: .6rem 1.2rem;
                border: 1.5px solid #0c0c0c;
                transition: 200ms ease-in;
                &:hover {
                    background-color: #555555;
                    border: 1.5px solid #0c0c0c;
                    cursor: pointer;
                }
            }
            .remove__button {
                margin-top: 2rem;
                outline: none;
                width: 100%;
                border: none;
                text-align: center;
                background-color: transparent;
                color: black;
                font-size: 1rem;
                font-family: 'Helvetica', sans-serif;
                padding: .6rem 1.2rem;
                border: 1px solid #0c0c0c;
                transition: 200ms ease-in;
                display: none;
                &:hover {
                    background-color: #0c0c0c;
                    color: white;
                    cursor: pointer;
                }
            }
            .remove__text {
                display: none;
                margin-top: 1rem;
                font-size: .8rem;
            }
        }
        .product__details {
            margin-top: 2rem;
            .info {
                display: flex;
                h3 {
                    font-size: 1.6rem;
                    font-family: 'Helvetica Neue', sans-serif;
                }
                img {
                    margin-left: .75rem;
                    width: 1.25rem;
                }
            }

            p {
                margin-top: .75rem;
                font-size: .9rem;
            }
        }
        .product__additional {
            display: flex;
            flex-direction: column;
            margin: 2rem auto;
            align-content: center;
            .payment {
                display: flex;
                align-content: center;
                img {
                    width: 3rem;
                    cursor: pointer;
                    border-radius: .3rem;
                }
                h4 {
                    font-family: 'Helvetica', sans-serif;
                    margin-left: 1rem;
                    margin-top: .3rem;
                    font-size: .8rem;
                    font-weight: 300;
                }
                .klarna__statement {
                    font-weight: 600;
                }
            }
            .product__delivery {
                display: flex;
                align-items: center;
                margin-top: 2rem;
                img {
                    width: 2.5rem;
                }
                h4 {
                    font-family: 'Helvetica', sans-serif;
                    margin-top: .1rem;
                    margin-left: 1rem;
                    font-size: .7rem;
                    font-weight: 300;
                }
            }
            .product__returns {
                display: flex;
                align-items: center;
                margin-top: 2rem;
                img {
                    width: 2.5rem;
                }
                h4 {
                    font-family: 'Helvetica', sans-serif;
                    margin-top: .1rem;
                    margin-left: 1rem;
                    font-size: .7rem;
                    font-weight: 300;
                }
            }
        }
        
    }
}


@media screen and (min-width: 768px) {
    .product__container {
        .product__row {
            flex-direction: column;
            width: 94%;
            align-items: flex-start;
            margin-top: 2rem;
            .item {
                display: flex;
                flex-direction: row;
                width: 100%;
                .image__container {
                    min-width: 55%;
                    display: flex;
                    align-items: center;
                    .item__image {
                        width: 100%;
                        margin: 0 auto;
                        min-height: fit-content;
                        object-fit: cover;
                    }
                }
                .item__details {
                    margin-left: 1rem;
                    margin-top: 1rem;
                    width: 100%;
                    .item__cat {
                        font-size: .8rem;
                    }
                    .item__name {
                        width: 100%;
                        margin-top: .5rem;
                        font-size: 3rem;
                    }
                    .item__price {
                        font-size: 1.5rem;
                        margin-top: .5rem;
                    }
                    .item__specs {
                        margin-top: 1rem;
                    }
                    .add__button {
                        margin-top: 1.5rem;
                    }
                    .remove__button {
                        margin-top: 1.5rem;
                    }
                    .product__details {
                        margin-top: 1.5rem;
                        h3 {
                            font-size: 1.5rem;
                            font-weight: 700;
                        }
                        p {
                            margin-top: 1rem;
                            font-size: .9rem;
                        }
                    }
                }
            }
            
        }
    }
}

@media screen and (min-width: 1312px) {
    .product__container {
        .product__row {
            width: 100%;
            margin-top: 3rem;
            .item {
                display: grid;
                grid-template-columns: .5fr .4fr;
                margin: 0 auto;
                width: 65%;
                .image__container {
                    background-color: rgb(243, 243, 243);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    .item__image {
                        width: 100%;
                    }
                    .item__gallery {
                        margin-top: 1.1rem;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-gap: 3%;
                        img {
                            width: 100%;
                            cursor: pointer;
                        }
                    }
                }
                .item__details {
                    width: 100%;
                    margin-left: 2.5rem;
                    .item__cat {
                        margin-top: .5rem;
                        font-size: .8rem;
                    }
                    .item__name {
                        margin-top: .5rem;
                        font-size: 3rem;
                        text-transform: capitalize;
                    }
                    .item__price {
                        font-size: 1.5rem;
                    }
                    .item__specs {
                        margin-top: 1rem;
                    }
                    .add__button {
                        margin-top: 3rem;
                    }
                    .remove__button {
                        margin-top: 3rem;
                    }
                }
            }
            .product__details {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 100%;
                margin-top: 3rem;
                .info {
                    display: flex;
                    h3 {
                        font-size: 2rem;
                        font-weight: 700;
                    }
                    img {
                        margin-left: 1rem;
                        width: 1.25rem;
                    }
                }
                p {
                    margin-top: 1rem;
                    font-size: 1rem;
                }
            }
            .product__additional {
                .payment {
                    h4 {
                        margin-top: .15rem;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}