.checkout__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: #fcfcfc;
    margin: 0 auto;
    position: relative;
    border-radius: 3px;
    padding: 1rem;
    max-height: 13rem;
    .checkout__imageContainer {
        .checkout__itemImage {
            min-width: 120px;
            object-fit: cover;
            max-height: 11rem;
            width: 100%;
            cursor: pointer;
        }
    }
    .checkoutItem__info {
        margin-left: 1rem;
        max-height: 11.5rem;
        .checkoutItem__name {
            font-weight: 400;
            font-family: 'Helvetica', sans-serif;
            text-transform: capitalize;
            font-size: 1.4rem;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
        .checkoutItem__price {
            font-weight: 300;
            color: grey;
            font-size: 1.1rem;
            margin-top: .3rem;
        }
        .checkoutItem__quantity {
            display: flex;
            margin: .25rem auto;
            font-size: .85rem;
            .quantity {
                display: flex;
                margin: .25rem auto;
                font-weight: 400;
                font-size: .9rem;
            }
        }
        .remove__button {
            text-align: left;
            outline: none;
            margin-bottom: .5rem;
            border: none;
            background-color: #fcfcfc;
            font-size: .85rem;
            width: 100%;
            transition: 100ms ease-in;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1312px) {
    
}