.confirmed__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: #fcfcfc;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;
    padding: 1rem;
    max-height: 13rem;
    .confirmedItem__image {
        min-width: 120px;
        object-fit: cover;
        max-height: 11rem;
        width: 100%;
    }
    .confirmedItem__info {
        margin-left: 2rem;
        .confirmedItem__name {
            font-weight: 400;
            font-family: 'Helvetica', sans-serif;
            text-transform: capitalize;
            font-size: 1.4rem;
        }
        .confirmedItem__price {
            font-weight: 300;
            color: grey;
            font-size: 1.1rem;
            margin-top: .3rem;
        }
        .confirmed__specs {
            display: flex;
            p {

            }
        }
        .remove__button {
            outline: none;
            border: none;
            position: absolute;
            width: 97.5%;
            border-radius: 3px;
            bottom: .5rem;
            right: .2rem;
            background-color: #0c0c0c;
            color: white;
            font-size: .85rem;
            width: 100%;
            padding: .3rem .6rem;
            transition: 200ms ease-in;
            border: .5px solid #0c0c0c;
            &:hover {
                background-color: #424242;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .confirmed__item {
        width: 97%;
        .confirmedItem__info {
            margin-left: 1.2rem;
            .confirmedItem__name {
                font-size: 1.4rem;
            }
            .confirmedItem__price {
                margin-top: .2rem;
                font-size: 1.1rem;
            }
            .quantity {
                p {
                    font-size: 1rem;
                }
                .confirmedItem__quantity {
                    font-size: 1rem;
                }
            }
            .remove__button {
                font-size: .85rem;
                padding: .2rem .4rem;
            }
        }
    }
}

@media screen and (min-width: 1312px) {
}