.more__products {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3.5rem;
    width: 85%;
    h1 {
        font-weight: 700;
        font-size: 1.7rem;
        font-family: 'Helvetica Neue', sans-serif;
    }
    .more__container {
        display: grid;
        margin-top: 3rem;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        .more__product {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 13rem;
                object-fit: cover;
            }
            h4 {
                font-size: 1.2rem;
                font-family: 'Helvetica Neue', sans-serif;
                margin-top: .25rem;
            }
            p {
                font-size: 1.1rem;
                color:#555555;
                margin: .4rem 0;
            }
        }
    }
}