.navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 99;
    background: white;
    .nav__sale { 
        display: none;
    }
    .nav__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 4rem;
        margin: 0 auto;
        width: 100%;
        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 87%;
            position: relative;
            .navbar__menu {
                display: flex;
                .nav__toggle {
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    transition: 100ms;
                    margin-top: -2px;
                    &:hover {
                        cursor: pointer;
                    }
                    .bar {
                        display: block;
                        width: 23px;
                        height: 3.0px;
                        z-index: 999;
                        border-radius: 20px;
                        margin: 2.7px auto;
                        background-color: #0c0c0c;
                        transition: all 0.3s ease-in-out;
                    }
                }
                .nav__toggle.active {
                    .bar:nth-child(2) {
                        opacity: 0;
                    }
                    .bar:nth-child(1) {
                        transform: translateY(8.2px) rotate(45deg);
                        height: 3px;
                        width: 26px;
                        margin-left: -4px;
                    }
                    .bar:nth-child(3) {
                        height: 3px;
                        width: 26px;
                        margin-left: -4px;
                        transform: translateY(-8.2px) rotate(-45deg);
                    }
                }
                .nav__search {
                    display: flex;
                    opacity: 0.8;
                    .search__icon {
                        margin-left: 1.5rem;
                        width: 20px;
                        height: 20px;
                    }
                    input {
                        display: none;
                    }
                }
            }
            #nav__logo {
                text-decoration: none;
                color: #0c0c0c;
                font-size: 2.3rem;
                font-weight: 400;
                margin-left: -2.25rem;
                font-family: 'Source Sans Pro', sans-serif;
            }
            .nav__icons {
                .shopping__icon {
                    width: 30px;
                    height: 25px;
                    margin-right: -.1rem;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                }
                .account__icon {
                    display: none;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        .nav__secondary {
            background-color: white;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 8vh;
            width: 50vw;
            left: -1000px;
            opacity: 0;
            transition: all 500ms ease-in-out;
            z-index: 999;
            height: 100vh;
            border: 1px solid lightgrey;
            .nav__menu {
                padding-top: 1.5rem;
                margin-left: -.25rem;
                li {
                    display: flex;
                    align-items: center;
                    background: none;
                    padding: 0 2rem;
                    transition: 100ms;
                    margin: 1.75rem 0;
                    a {
                        color: black;
                        text-decoration: none;
                        font-size: clamp(1rem, 1.15rem, 2rem);
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
            }
        }
        .nav__secondary.active {
            background-color: white;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 8vh;
            width: 50vw;
            left: 0;
            opacity: 1;
            transition: all 500ms ease-in-out;
            z-index: 99;
            height: 100vh;
            border: 1px solid lightgrey;
            .nav__menu {
                padding-top: 1.5rem;
                margin-left: -.25rem;
                li {
                    display: flex;
                    align-items: center;
                    background: none;
                    padding: 0 2rem;
                    transition: 100ms;
                    margin: 1.75rem 0;
                    a {
                        color: black;
                        padding: .4rem .8rem;
                        text-decoration: none;
                        font-size: clamp(1rem, 1.15rem, 2rem);
                        text-transform: uppercase;
                        font-weight: 500;
                        &:hover {
                            background: #0c0c0c;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        .nav__sale {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#000000;
            height: 2.2rem;
            width: 100%;
            h4 {
                background: none;
                color: #fcfcfc;
                font-weight: 400;
                font-size: .85rem;
                margin-left: -.3rem;
            }
        }
        .nav__container {
            padding: 0;
            min-height: 100%;
            width: 100%;
            .nav {
                padding: 0 1.5rem;
                height: 60px;
                width: 95%;
                .navbar__menu {
                    
                    .nav__toggle {
                        display: none;
                    }
                    .nav__search {
                        justify-content: center;
                        align-items: center;
                        margin-left: -.2rem;
                        .search__icon {
                            margin-left: 0;
                        }
                        input {
                            display: block;
                            opacity: 1;
                            outline: none;
                            border: none;
                            padding: .5rem 1.5rem;
                            margin-top: .1rem;
                            font-size: 1rem;
                            &::placeholder {
                                
                                font-size: 1.2rem;
                                font-weight: 300;
                            }
                            
                        }
                    }
                }
                #nav__logo {
                    font-size: 2.2rem;
                    margin-left: -9.25rem;
                }
                .nav__icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .shopping__icon {
                        width: 2.4rem;
                        height: 1.9rem;
                        font-weight: 500;
                        margin: 0 1.5rem;
                    }
                    .account__icon {
                        display: block;
                        width: 2.2rem;
                    }
                }
            }
            .nav__secondary {
                background-color: #f9f9f9;
                position: static;
                width: 100%;
                opacity: 1;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .nav__menu {
                    padding-top: 0;
                    width: 100%;
                    background: none;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    margin: 0 auto;
                    height: 2.5rem;
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: none;
                        height: 100%;
                        transition: 100ms;
                        margin: 0;
                        cursor: pointer;
                        a {
                            background: none;
                            text-decoration: none;
                            color: #0c0c0c;
                            font-weight: 300;
                            font-size: 1.1rem;
                            transition: 200ms ease-in;
                            padding: 0.5rem 0.7rem;
                            &:hover {
                                background-color: #0c0c0c;
                                color: white;
                            }
                        }
                    }
                    a.active {
                        padding: 0.5rem 0.7rem;
                        background-color: #0c0c0c;
                        color: white;
                    }
                }
            }
            
        }
    }
}

@media screen and (min-width: 1312px) {
    .navbar {
        .nav__sale {
            height: 2rem;
        }
        .nav__container {
            width: 100%;
            .nav {
                padding: 0 2rem;
                height: 65px;
                justify-content: space-between;
                #nav__logo {
                    font-size: 2.3rem;
                }
            }
            .nav__secondary {
                width: 100%;
                .nav__menu {
                    justify-content: center;
                    width: 45%;
                    margin: 0 auto;
                    height: 2.3rem;
                    li {
                        a{
                            font-size: 1.1rem;
                            padding: 0.4rem 0.7rem;
                        }
                    }
                    a.active {
                        padding: 0.4rem 0.7rem;
                    }
                    li:nth-child(2) {
                        margin-left: 0rem;
                    }
                    li:nth-child(3) {
                        margin-right: -0rem;
                    }
                }
            }
        }
    }
}