.sale {
    background-color: #0c0c0c;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    .sale__text {
        padding-top: 1rem;
        margin-top: -.3rem;
        h4 {
            font-weight: 300;
            font-size: .95rem;
            text-transform: uppercase;
            color: white;
        }
    }
    .sale__timer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: .9rem;
        background-color: white;
        width: 40%;
        .timer {
            font-size: 2.5rem;
            color: black;
        }
    }
}

@media screen and (min-width: 768px) {
    .sale {
        padding-bottom: 2rem;
        .sale__text {
            padding-top: 1.25rem;
            h4 {
                font-size: 1.20rem;
            }
        }
        .sale__timer {
            margin-top: 1rem;
            width: 30%;
            span {
                padding: .2rem 0;
            }
        }
    }
}
