@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

// PAGES

@import './pages/index';
@import './pages/mens';
@import './pages/womens';
@import './pages/footwear';
@import './pages/checkout';
@import './pages/basket';
@import './pages/productDetails';
@import './pages/confirmation';
@import './pages/orders';

// COMPONENTS

@import './components/navbar';
@import './components/sale';
@import './components/newsletter';
@import './components/footer';
@import './components/divider';
@import './components/basketItem';
@import './components/confirmedItem';
@import './components/checkoutItem';
@import './components/latestArrivals';

* {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    height: 100%;
    background-color: #f1f1f1;
}

