@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

// PAGES

@import './index';
@import './mens';
@import './womens';
@import './footwear';
@import './checkout';
@import './basket';
@import './productDetails';
@import './confirmation';
@import './orders';

// COMPONENTS

@import './navbar';
@import './sale';
@import './newsletter';
@import './footer';
@import './divider';
@import './basketItem';
@import './latestArrivals';

* {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: white;
    height: 100%;
}

